---

---

<style>
  #contatti div div div h3 {
    margin-bottom: 0.5rem;
  }
  #contatti div div div {
    margin-bottom: 1rem;
  }
</style>

<section id='contatti' class='mx-4 lg:mx-16 mt-32'>
  <h2 class='font-alexandria-r mb-4'>Dove trovarci</h2>
  <div class='flex justify-between flex-col-reverse sm:flex-row'>
    <div>
      <div>
        <h3>Sede legale e ammisitrativa</h3>
        <p>Via F. Petrarca 9</p>
        <p>30038 Spinea (VE)</p>
        <p>P.IVA 03588220271</p>
        <p>Boatto Autotrasporti S.r.l.</p>
      </div>
      <div>
        <h3>Magazzino</h3>
        <p>Via F. Petrarca 9</p>
        <p>30038 Spinea (VE)</p>
        <p>P.IVA 03588220271</p>
        <p>Boatto Autotrasporti S.r.l.</p>
      </div>
      <div>
        <h3>Contatti</h3>
        <p><a href='tel:+39041992100'>041992100</a></p>
        <p>
          <a href='mailto:info@boattoautotrasporti.com'
            >info@boattoautotrasporti.com</a
          >
        </p>
      </div>
    </div>
    <!-- google maps -->
    <div>
      <img
        class='mb-4'
        src='https://upload.wikimedia.org/wikipedia/en/5/56/Google_maps_screenshot.png'
        alt=''
      />
    </div>
  </div>
</section>
