---
import CardMezzi from "./CardMezzi.astro";
import CardServizi from "./CardServizi.astro";
---

<section id='servizi' class='mx-4 lg:mx-16'>
  <h2 class='font-alexandria-r text-center'>I nostri servizi</h2>
  <p class='text-center mt-16'>
    Quando la merce è preziosa e le condizioni di viaggio sono complesse,
    affidati a un partner solido e certificato. La nostra specializzazione nel
    trasporto di materiali che richiedono attenzioni extra ti garantisce un
    servizio impeccabile, nel pieno rispetto delle normative e dell'ambiente.
    Grazie a un parco mezzi versatile che comprende configurazioni a doppia e
    singola motrice, possiamo assicurarti la massima efficienza e sicurezza per
    ogni tipo di carico.
  </p>

  <div
    class='flex flex-wrap gap-4 justify-center xl:justify-around items-center mt-16'
  >
    <CardMezzi
      img='autocarro'
      title='Autocarro'
      paragraph='Autocarri standard versatili per consegne regionali e logistica urbana'
    />
    <CardMezzi
      img='autoarticolato'
      title='Autoarticolato'
      paragraph='Autocarri standard versatili per consegne regionali e logistica urbana'
    />
    <CardMezzi
      img='autotreno'
      title='Autotreno'
      paragraph='Autocarri standard versatili per consegne regionali e logistica urbana'
    />
  </div>

  <div class='grid md:grid-cols-2 md:grid-rows-2 grid-cols-1 gap-8 mt-16'>
    <CardServizi
      colorCard='1e1e1e'
      colorTitle='d1d2d4'
      colorParagraph='d1d2d4'
      title='Trasporto di materiali, in regime ADR, FRC, FNA'
      paragraph="Merci Pericolose (ADR): Grazie a personale qualificato e mezzi specifici gestiamo ogni classe di merce pericolosa. Zero rischi, massima tranquillità. Merci Congelate e Fresche (FRC/FNA): Che si tratti di un trasporto a -20°C (FRC) o di prodotti freschi a temperatura controllata (FNA), i nostri mezzi e la nostra logistica assicurano l'integrità del tuo carico fino all'arrivo."
    />
    <CardServizi
      colorCard='d1d2d4'
      colorTitle='1e1e1e'
      colorParagraph='1e1e1e'
      title='Fornitura di provviste a navi mercantili e crocieristiche'
      paragraph='Offriamo un servizio di logistica portuale rapido e senza interruzioni per assicurare che le tue operazioni non subiscano ritardi. Grazie alla nostra preparazione e ai badge portuali specifici, garantiamo un accesso rapido e autorizzato alle aree di carico.'
    />
    <CardServizi
      colorCard='4b4c4d'
      colorTitle='fff'
      colorParagraph='fff'
      title='Flessibilità e Convenienza: Carichi Completi e Groupage'
      paragraph='Groupage (Carico Parziale): Ideale per piccoli quantitativi. Condividi lo spazio e paghi solo ciò che occupi. Massimo risparmio. Carico Completo: Il mezzo è interamente dedicato alla tua merce per la massima velocità e sicurezza.'
    />
    <CardServizi
      colorCard='1e1e1e'
      colorTitle='d1d2d4'
      colorParagraph='d1d2d4'
      title='Logistica'
      paragraph='Il nostro ampio magazzino è il cuore pulsante delle operazioni logistiche. È attrezzato per lo stoccaggio sicuro, la gestione ottimizzata delle scorte e il carico/scarico rapido, garantendo la massima flessibilità per le tue merci.'
    />
  </div>
</section>
