---
import Layout from "../layouts/Layout.astro";
import BannerDati from "./index/components/BannerDati.astro";
import Storia from "./index/components/Storia.astro";
import CTA from "./index/components/CTA.astro";
import Servizi from "./index/components/Servizi.astro";
import Contatti from "./index/components/Contatti.astro";
import Preventivo from "../components/pages/index/Preventivo.tsx";
import Header from "../layouts/components/Header.astro";
---

<style>
  .hero {
    background-image:
      linear-gradient(to left, rgba(0, 0, 0, 0.4), transparent 69%),
      url("/img/camion-boatto.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  @media (width <= 40rem /* 640px sm */) {
    .hero {
      background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent 59%),
        url("/img/camion-boatto.jpg");
    }
  }
</style>

<Layout
  metadescription='Autotrasporti F.lli Boatto Srl. La direzione giusta per ogni viaggio.'
>
  <section class='hero'>
    <Header />
    <h1
      class='max-w-[15ch] font-alexandria-b text-center sm:text-right text-white absolute top-1/6 left-4 sm:top-1/2 sm:left-auto sm:right-16'
    >
      La direzione giusta per ogni viaggio.
    </h1>
  </section>

  <BannerDati />
  <Storia />
  <CTA />
  <Servizi />
  <Contatti />
  <form name='form-preventivo' method='POST' data-netlify='true' hidden>
    <!-- <input type='hidden' name='form-name' value='form-preventivo' /> -->
    <input type='text' name='nome' />
    <input type='text' name='cognome' />
    <input type='text' name='azienda' />
    <input type='text' name='piva' />
    <input type='email' name='email' />
    <input type='tel' name='telefono' />
    <input type='text' name='indirizzoDiCarico' />
    <input type='text' name='indirizzoDiScarico' />
    <input type='text' name='tipologiaCarico' />
    <input type='text' name='dataProntezzaMerce' />
    <input type='text' name='larghezza' />
    <input type='text' name='altezza' />
    <input type='text' name='peso' />
    <input type='text' name='numeroPezzi' />
    <textarea name='infoAggiuntive'></textarea>
    <input type='checkbox' name='datiPersonali' />
  </form>
  <Preventivo client:idle />
</Layout>

<script>
  import gsap from "gsap";

  gsap.from(".hero h1", {
    autoAlpha: 0,
    y: 200,
    duration: 1,
    ease: "power1.out",
  });
</script>
