---
export interface Props {
  type?: string;
  to?: string;
  extraClass?: string;
}

const { type = "1", to = "#", extraClass = "" } = Astro.props;
---

<style>
  button {
    transition-duration: var(--animation-duration);
  }
</style>

{
  type == "1" ? (
    <a href={to}>
      <button
        class={`bg-dark-red-boatto px-4 py-2 text-white hover:bg-red-boatto ${extraClass}`}
      >
        <slot />
      </button>
    </a>
  ) : (
    <a href={to}>
      <button class='text-black hover:text-green-200 hover:underline'>
        <slot />
      </button>
    </a>
  )
}
